.title{
    margin: 0 auto;
    
    width: 300px;
}
.main{
    
    margin: 0 auto;
    width: 300px;
}

.randomize{
    
    display: flex;
    justify-content: center;
    width: 300px;
}

.randomButton{
    border: none;
    background-color: yellow;
    color: red;
    
}

.resttitle{
    display: flex;
    justify-content: center;
    width: 300px;
}